@font-face {
  font-family: "SingleDay-Regular";
  src: url("../../assets/fonts/SingleDay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.FiftyPercent {
  width: 50vw;
}

.super-app-text {
  color: #72db73;
  font-family: "SingleDay-Regular";
  font-size: 67px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%; /* 93.591px */
}

.container {
  display: flex;
}
.Flex {
  display: flex;
}

.text1 {
  color: #fff;
  font-family: Roboto;
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 139.688%; /* 5.93675rem */
}

.leftSide {
  position: absolute;
  top: 10%;
  left: 10%;
}

.rightSide {
  position: absolute;
  top: 10%;
  right: 10%;
}

.nextButton {
  /* text */
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 1.64288rem;
  font-style: normal;
  font-weight: 500;
  line-height: 92.2%; /* 1.51469rem */
  letter-spacing: 0.03288rem;

  border-radius: 2.42856rem;
  background: #148a08;

  width: 11rem;
  height: 3rem;
  flex-shrink: 0;

  position: fixed;
  right: 10%;
  bottom: 10%;

  cursor: pointer;
}

.text2 {
  color: #f00;
  font-family: Roboto;
  font-size: 1.57125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%; /* 1.66063rem */
  letter-spacing: 0.03144rem;
}
